@media (min-width: 1200px) {
  body {
    font-family: "Familjen Grotesk";
    background-color: #110708;
    color: #F9F9F2;
    text-align: center;
    font-size: 16px;
    line-height: 18px;
  }

  h1 {
    font-weight: 700;
    font-size: 48px;
  }

  h2, h3 {
    font-weight: 700;
  }

  a {
    color: #FFA630;
    text-decoration: none;
  }

  a:hover {
    color: #DF8918;
  }

  #profile-pic {
    width: 180px;
    height: 180px;
    border-radius: 50%;
  }

  li {
    display: inline;
    margin: 10px;
  }

  ul {
    padding: 0px;
  }

  .card-main {
    background-color: #110708;
    padding: 50px;
    margin: 25px auto;
    border-radius: 5px;
    border: 0.2px solid #858585;
    box-shadow: 0 0 16px rgba(249,249,242,0.5);
    max-width: 640px;
  }

  .card {
    background-color: #110708;
    padding: 50px;
    margin: 25px auto;
    border-radius: 5px;
    border: 0.2px solid #858585;
    box-shadow: 0 0 16px rgba(249,249,242,0.5);
    max-width: 640px;
  }
}

@media (min-width: 600px) {
  body {
    font-family: "Familjen Grotesk";
    background-color: #110708;
    color: #F9F9F2;
    text-align: center;
    font-size: 15px;
    line-height: 18px;
  }

  h1 {
    font-weight: 700;
    font-size: 40px;
  }

  h2, h3 {
    font-weight: 700;
  }

  a {
    color: #FFA630;
    text-decoration: none;
  }

  a:hover {
    color: #DF8918;
  }

  #profile-pic {
    width: 180px;
    height: 180px;
    border-radius: 50%;
  }

  li {
    display: inline;
    margin: 10px;
  }

  ul {
    padding: 0px;
  }

  .card-main {
    background-color: #110708;
    padding: 50px;
    margin: 25px auto;
    border-radius: 5px;
    border: 0.2px solid #858585;
    box-shadow: 0 0 16px rgba(249,249,242,0.5);
    max-width: 480px;
  }

  .card {
    background-color: #110708;
    padding: 50px;
    margin: 25px auto;
    border-radius: 5px;
    border: 0.2px solid #858585;
    box-shadow: 0 0 16px rgba(249,249,242,0.5);
    max-width: 480px;
  }
}

@media (max-width: 600px) {
  body {
    font-family: "Familjen Grotesk";
    background-color: #110708;
    color: #F9F9F2;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
  }

  h1 {
    font-weight: 700;
    font-size: 32px;
  }

  h2, h3 {
    font-weight: 700;
  }

  a {
    color: #FFA630;
    text-decoration: none;
  }

  a:hover {
    color: #DF8918;
  }

  #profile-pic {
    width: 160px;
    height: 160px;
    border-radius: 50%;
  }

  li {
    display: inline;
    margin: 10px;
  }

  ul {
    padding: 0px;
  }

  .card-main {
    background-color: #110708;
    padding: 40px;
    margin: 16px auto;
    border-radius: 5px;
    border: 0.2px solid #858585;
    box-shadow: 0 0 16px rgba(249,249,242,0.5);
    max-width: 640px;
  }

  .card {
    background-color: #110708;
    padding: 40px;
    margin: 16px auto;
    border-radius: 5px;
    border: 0.2px solid #858585;
    box-shadow: 0 0 16px rgba(249,249,242,0.5);
    max-width: 640px;
  }
}
